.canada{
    margin-left: 60px;
transform: translateY(100px);
    .container{
        background-image: url(../img/orqa.png);
        background-repeat: no-repeat;
        width: 1050px;
        height: 292px;
    }

    &--list{
        display: flex;
        justify-content: space-between;
    }

    li,a{
        list-style: none;
    }

    &--our{
        width: 268px;
        height: 98px;
        font-family: "Jost";
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        text-align: left;
    }

    &--text{
        margin: 0;
        padding: 0;
        margin-top: -27px;
        width: 459px;
        height: 78px;
        font-family:" Jost";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }

    &--button{
        margin-right: 80px;
        margin-top: 100px;
    }
}