.footer{
    background-color: #1D1C1E;
     .container{
        margin-top: 80px;
        display: flex;
     }
    .hr{
        color: white;
        width: 1211px;
        margin-top: -20px;
    }
}