
  .header{
    margin: 40px 20px;

    & .container{
    display: flex;
    justify-content: space-between;
      }


    &  .nav__list{
        display: flex;
      }

      & .header .container{
        display: flex;
        justify-content: space-between;
      }


      & li,a{
        text-decoration: none;
        list-style: none;
      }
    


      & .nav__list{
        display: flex;
      }


      &  .nav__item +.nav__item{
        padding-left: 33px;
    }
    
    

    & .nav__link{
        color: black;
        font-family:" Barlow";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
    }
    


    & .nav__link:hover {
        color: green;
    }
  }