.hero{
    .container{
        background-image: url(../img/Grouporqafon.png);
        background-repeat: no-repeat;
        width: 1111px;
        height: 640px;
    }

    &--heading{
        margin: 0;
        padding: 0;
        font-family: "Jost";
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
        width: 620px;
        height: 165px;
        padding-top: 145px;
        padding-left: 95px;

    }


    &--text{
        margin: 0;
        padding: 0;
        width: 445px;
        height: 78px;
        font-family: "Jost";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;      
        padding-top:155px;
        padding-left: 95px;

    }
    .button{
        margin-left: 95px;
        margin-top: 110px;
        width: 152px;
        height: 56px;
        border-radius: 8px;
        background: #FFF;
    }
}