.pat{
    margin-top: 80px;
    &--list{
        display: flex;
    }

    &--item{
        padding-left: 20px;
    }
    li,a{
        text-decoration: none;
        list-style: none;
    }

    &--img2{
        margin-bottom: 20px;
    }
}