.tol{
  margin-top: 80px;
  &--list{
    display: flex;
  }

  &--item{
    padding-left: 40px;
  }

  li,a{
    list-style: none;
  }

  &--heading{
    font-family:" Jost";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    text-align: center;
    width: 350px;
    height: 26px;
    text-align: center;
  }

  &--text{
    font-family:" Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 350px;
    height: 104px;
  }

  &--img2{
    margin-top: 25px;
  }

  &--img3{
    margin-top: 35px;
    margin-bottom: 40px;
  }

}